# Node
TZ=UTC
PORT=3333
HOST=localhost
NODE_ENV=development

# App
LOG_LEVEL=info
APP_KEY=
APP_URL=http://${HOST}:${PORT}
VITE_GOOGLE_ANALYTICS_ID=

# Session
SESSION_DRIVER=cookie

# PostgreSQL
DB_HOST=localhost
DB_PORT=5432
DB_USER=passorsmash
DB_PASSWORD=passorsmash-local-secret
DB_DATABASE=passorsmash

DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=
DISCORD_REDIRECT_URI=http://localhost:3333/auth/discord/callback
DRIVE_DISK=s3
AWS_ACCESS_KEY_ID=passorsmash
AWS_SECRET_ACCESS_KEY=passorsmash-local-secret
AWS_REGION=us-east-1
S3_BUCKET=passorsmash-images
S_3_ENDPOINT=http://localhost:9000
S_3_FORCE_PATH_STYLE=true
